body{
    box-sizing: border-box;
    background: rgb(0, 0, 0, 0.9);

}

h1{
    color: white
}
input{
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
}

button{
    border: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px;
}
.addButton{
    background: darkgreen;
    color: white;
}

.addButton:hover{
    background: green;
}

.deleteButton{
    background: darkred;
    color: white;
}

.deleteButton:hover{
    background: red;
}

.doneButton{
    background: limegreen;
}

.doneButton:hover{
    background: greenyellow;
}

ol{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

li{
    padding: 10px;
    list-style: none;
    color: white;
    text-align: center;
}

.done{
    text-decoration: line-through;
}
